NODE_ENV=development
PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_NAME=AgroConectaProyectoFinal
DB_USER=root
DB_PASSWORD=root
DB_SYNC_ALTER=true
DB_SYNC_FORCE=false
JWT_SECRET=agroconecta_super_secret_change_me
JWT_EXPIRES_IN=12h
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=200
